header {
  background: #ffffff;
  padding: 10px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeee;
  box-shadow: 0 2px 4px -1px rgba(57, 76, 96, .15);
  position: sticky;
  top: 0;
  z-index: 99;

  .nav-item {
    margin-left: 30px;

  }

  .btn-login {
    background: #4CAF50;
    border-radius: 6px;
    min-width: 100px;
    display: block;
    font-weight: 600;
    color: #fff;
  }
}

.filter-btn {
  max-width: max-content;
  margin-left: auto;
}


body {
  background: #f1f7f6;
}

.container {
  max-width: 1200px;
}

.card {
  margin-bottom: 25px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .card-title {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #4CAF50;
}

.shimmer-item {
  .card {
    height: 300px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(90deg, #ebeff2 8%, #f9fafb 18%, #ebeff2 33%);
    background-size: 800px 104px;
    margin-bottom: 15px;
    position: relative;
  }
}

.search-box {
  display: flex;
  max-width: 75%;
}



.restaurant-card {
  max-width: 75%;
  margin: auto;
  background: #f6f6f6;
  padding: 15px;
  border-radius: 10px;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}